/** Globales **/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

html {
    /** Modificacion de tamaño de fuente **/
    font-size: 62.5%;
    /** Reset para REMS - 62,5% = 10px de 16px **/
}

body {
    /** Modificacion de fuente para body **/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    /* font-family: 'Playfair Display', serif;*/
}


/** Utilidades **/

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}


/** Sistema de tamaños para etiquetas h **/

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}


/** Header **/

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 45vh;
    min-height: 55rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    max-width: 50rem;
    line-height: 2;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/** Navegacion **/

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:last-of-type {
    margin: 0;
}

.navegacion a:hover {
    color: #71b100;
}


/** Nosotros **/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
}

.icono h3 {
    text-transform: uppercase;
}